{% extends 'base.html' %}
{% block content %}
            <hr>
            <h3 style="text-align:center" >Login</h3>
            <form action="/login" method="POST">
                {% csrf_token %}
                {% if error%}
                    {{error}}
                {% endif %}
                <br>
                <br>

                <!-- email -->
                    <label for="">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input required type="email" name="email" id=""
                    value="{{values.email}}" 
                    placeholder="example@gmail.com">
                    <p>&nbsp;</p>
                    <!-- all products -->

                <!-- password -->
                    <label for="">Password</label>
                    <input type="password" 
                    name="password" 
                    id="">
                    <p>&nbsp;</p>


                <hr>
                <button type="submit">Login</button>  
            </form>
{% endblock %}